<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gym.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Shaorma"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/nameofapp"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionbar">


        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.gym.app.com.gym.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.HomeActivity"
            android:label="Home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ManageActivity"
            android:label="Manage"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".parts.terms.TermsActivity"
            android:label="@string/terms_and_condition"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".parts.authentication.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AuthenticationTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionbar"/>
        <activity
            android:name=".parts.scan.ScanActivity"
            android:label="@string/scan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <receiver
            android:name=".parts.findcourses.day_courses.CoursesReceiver"
            android:enabled="true"/>

        <activity
            android:name=".parts.updatecourse.UpdateCourseActivity"
            android:label="@string/update_course"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <activity
            android:name=".activities.MyCarsActivity"
            android:label="@string/title_activity_my_cars"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gym.app.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.AddParkingPlaceActivity"
            android:label="@string/title_activity_add_parking_place"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gym.app.activities.HomeActivity"/>
        </activity>
        <activity
            android:name=".activities.AddCarActivity"
            android:label="@string/title_activity_add_cars"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".activities.AvailabilityActivity"
            android:label="@string/title_activity_availability"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.AddAvailabilityActivity"
            android:label="Add new availability"
            android:parentActivityName=".activities.AvailabilityActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".activities.ParkingHistoryActivity"
            android:label="@string/title_activity_parking_history"
            android:theme="@style/AppThemeNoActionbar"></activity>
    </application>

</manifest>